:root {
  --mask-color: rgba(0, 0, 0, 0.245); /* 半透明的黑色背景 */
  --player-bg-mask-color: rgba(255, 255, 255, 0.631); /* 玩家的固定小透背景 */
  --victim-color: #ff22004f;
  --attacker-color: #8400f845;
  --owner-victim-color: rgb(0, 255, 191);
  --dead-color: #898686c1;
  
}

.bg-mask {
   border-radius:10px;
   padding: 5px;
   background-color:var(--player-bg-mask-color);
}

.mask-container {
  position: relative;
}

.mask-layer {
  border-radius:10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.mask-text {
  color: white;
  font-size: 20px;
  text-align: center;
}
